@font-face {
  font-family: "DKBuntaro";
  src: url("./fonts/DKBuntaro.ttf");
}
@font-face {
  font-family: "HILVCCBoing-Bold";
  font-weight: bold;
  src: url("./fonts/HILVCC+Boing-Bold.ttf");
}
@font-face {
  font-family: "HILVCCBoing-Light";
  src: url("./fonts/HILVCC+Boing-Light.ttf");
} 

$color-purple : #4c47a5; 
$color-white : #ffffff; 
$color-black : #000000;
$color-green : #9fde3e;
$color-grey : #adabab;

@mixin button {
  font-family: "HILVCCBoing-Bold";
  padding: 5px 40px;
  font-size: 18px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  background-color: $color-white;
  border: 3px solid $color-purple;
  color: $color-purple;
  cursor: pointer;
  &:hover {
      background-color: $color-purple;
      color: $color-white;
  }
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(230, 230, 230, 0.5);
}

body {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-purple;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: $color-white; 
}

.mood_main {
  position: relative;
}

//  NAV  //

.mood_nav {
  display: flex;
  width: 98%;
  margin: 10px auto;
  align-items: center;
  .mood_logo {
      font-family: "DKBuntaro";
      color: $color-purple;
      font-size: 110px;
      width: 40%;
  }
  .mood_text-intro {
      font-family: "DKBuntaro";
      color: $color-purple;
      font-size: 20px; 
      width: 40%;
      text-align: center;
  }
  .mood_login {
      width: 40%;
      text-align: right;
      .mood_login-button {
          @include button;
      }
  }
}

// BUTTON DOWNLOAD AVATAR //
.mood_button-download {
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  position: absolute;
  .button_download {
      font-family: "DKBuntaro";
      font-style: normal;
      font-weight: bold;
      padding: 10px 40px;
      font-size: 25px;
      text-transform: uppercase;
      background-color: $color-white;
      border: 3px solid $color-purple;
      color: $color-purple;
      cursor: pointer;
      &:hover {
          background-color: $color-purple;
          color: $color-white;
      }
  }
}

//  POPIN DOWNLOAD AVATAR  //

.modal_content {
  font-family: "HILVCCBoing-Light";
  text-align: center;
  .modal_close {
      float: right;
      margin-right: 3%;
      margin-top: -17px;
      font-family: "HILVCCBoing-Bold";
      cursor: pointer;
      &:hover {
          color: $color-purple;
      }
  }
  h1 {
      font-family: "DKBuntaro";
      color: $color-purple;
      font-size: 35px;
      margin-top: 25px;
  }
  .avatar_download {
      text-align: left;
      padding: 0 5%;
      letter-spacing: 1px;
      > p {
          margin: 10px 0;
      }
      .url {
          color: $color-purple;
      }
      .svg, .png {
          cursor: pointer;
          font-family: "HILVCCBoing-Bold";
          color: $color-purple;
      } 
  }
}

// HOME

.mood_home {
  height: calc(100vh - 185px);
}

//  BLOCK CREATE AVATAR  //

.mood_create-avatar {
  width: 50%;
  margin-top: 5%;
  .mood_create-avatar-nav {
    width: 75%;
    margin: 0 auto;
    .mood_create-nav-list {
      list-style: none;
      display: flex;
      border-bottom: 2px solid $color-black;
      padding-bottom: 2%;
      margin-bottom: 5%;
      .mood_create-nav-option {
        width: 25%;
        cursor: pointer;
        color: $color-black;
        font-size: 1.3rem;
        font-family: "HILVCCBoing-Bold";
        text-transform: uppercase;
        text-align: center;
        &:hover {
          color: $color-grey;
        }
      }
    }
  }
  .mood_create-avatar-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 75%;
    .choice_element {
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        transition-duration: 0.3s;
        background: #80808012;
        border-radius: 50%;
      }
    }
  }
}

//  LOGIN  //

.login_sign-in {
  width: 50%;
  float: left;
  position: relative;
  padding-top: 40%;
}

.login_sign-up {
  width: 50%;
  float: right;
  position: relative;
  padding-top: 40%;
}

.sign-in_content, 
.sign-up_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    .sign-in_title,
    .sign-up_title {
        font-family: "HILVCCBoing-Light";
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: -25px;
    }
    .sign-in_form, 
    .sign-up_form {
        font-family: "HILVCCBoing-Light";
        .sign-in_form-element, 
        .sign-up_form-element {
            display: grid;
            padding: 15px 0;
            input {
                border: none;
                border-bottom: 1px solid black;
                margin-top: 10px;
                padding: 10px 0 5px;
                width: 100%;
                background: transparent;
            }
        }
    }
    .sign-in_button, 
    .sign-up_button {
        padding-top: 15%;
        text-align: center;
        .sign-in_submit, 
        .sign-up_submit {
            @include button;
            padding: 5px 70px;
        }
    }
}